img{
  width: 220px;
  height: 250px;
}

.card-content{
  height: 100px;
  width: auto;

}

.tileText{
  height: auto;
  width: auto;
}

.item-quantity{
  padding:5px;
  font-size: 1.3em;
  font-weight: bold;
}

.cart-icon {
  
}

.bold {
  font-weight: bold;
}